body{
    background-image: url("images/6.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

p{
    position: absolute;
    bottom: 0;
    right: 45%;
    background-color: rgb(226, 46, 46);
    color: rgb(253, 253, 253);
    border: 1px solid black;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px
}

#chest{
    width: 10%;
    height: 10%;
    position: relative;
}

